.item {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 17px 10px;
  background-color: rgb(188, 159, 202);
  border-bottom: solid 1px rgb(8, 8, 8);
  border-top: solid 1px rgb(8, 8, 8);
  border-left: solid 1px rgb(8, 8, 8);
  border-right: solid 1px rgb(8, 8, 8);
  border-radius: calc(0.5 * 100px);
}

.checkbox {
  color: rgb(188, 159, 202);
  margin-right: 15px;
}

.item button {
  font-size: 13px;
  background: rgb(188, 159, 202);
  border: none;
  cursor: pointer;
  float: right;
  outline: none;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  margin: -10px 0 0 10px;
}
.textInput {
  width: 100%;
  padding: 10px;
  border: 15px solid #dfdfdf;
}
